.homePage_searchButtonContainer {
    width: 55%;
    margin: 0 auto;
    font-size: 1.5em;
}

.homePage_listItem {
    cursor: pointer;
}

.equityInformation_Width{
    width: 70%;
    margin: 0 auto;
}