.userInfoContainer {
    margin: 2em auto;
}

.userInfoWelcomeText {
    margin-left: 1em !important;
    margin-top: 1em !important;
    font-weight: 600;
}

.stockTableContainer{
    margin: 1.5em auto;
    width: 80%;
}